

.style_nb_visiteur{
  margin-top: 15px;
}

.bouton_modification{
  margin-right: 40px;
  margin-left: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.grand_rectangle{
  border-radius: 5px;
  -moz-box-shadow: 0px 0px 17px 0px #cfcfcf;
-webkit-box-shadow: 0px 0px 17px 0px #cfcfcf;
-o-box-shadow: 0px 0px 17px 0px #cfcfcf;
box-shadow: 0px 0px 17px 0px #cfcfcf;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=NaN, Strength=17);
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

/**
.grand_rectangle :hover{
  -moz-box-shadow: 0px 0px 17px 5px #9b9b9b;
-webkit-box-shadow: 0px 0px 17px 5px #9b9b9b;
-o-box-shadow: 0px 0px 17px 5px #9b9b9b;
box-shadow: 0px 0px 17px 5px #9b9b9b;
filter:progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=NaN, Strength=17);
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}
